.board ,td,tr
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    height: 70px;
    width: 450px;
    text-align: center;
    border-color: blue;
}

.board
{
    background-color:rgb(172, 172, 88);
}
.correct
{
background-color: yellowgreen;
}
